# Python Virtual Environment
/venv/

# Python Cache Files
__pycache__/
*.pyc

# IDE and Editor Folders
.vscode/
.idea/

# Generated Data and Models
/data/
/models/

# System Files
.DS_Store

# Jupyter Notebook Checkpoints
.ipynb_checkpoints